$primarycolor: #5265E1;
$secondarycolor:#FA5959;
$margin: 0px 50px 0px 50px;
$border-radius: 40px 40px 40px 40px;
main{
    width: 90%;
    margin: auto;
}
a{
    color: black;
    
}
button{
    width: 150px;
    
    
    
   
}
.btn{
    background-color: $primarycolor;
    color: white;
}
.accordion{ align-content:  center;
    
    width: 500px;
    
}
.ciao{
    
    padding-top: 100px;
}
.albero{
    margin-top: 50px;
    background-color: $secondarycolor;
    
}
.natale{
    margin-top: 50px;
    background-color: $primarycolor;
    
}
.tavolo{
    margin-top: 10px;
}
.sedia{
    margin-top: 100px;
}
.foto{
    background-color: $primarycolor;
    border-radius: 240px 0px 0px 0px;
}
.puzzle{
    background-color: $primarycolor;
    border-radius: 0px 0px 240px 0px;
}

.bottone{
    margin-left: 70px;
}
.marco{
    text-decoration: none;}

.marco:hover{
    font-weight: bold;
    color: red;
    text-decoration: underline red;
   
}


.giulio:hover{
    font-weight: bold;
    color: red;
    text-decoration: underline red;
   
}
.giulio{
    text-decoration: none;
}
.franco:hover{
    font-weight: bold;
    color: red;
    text-decoration: underline red;
   
}
.franco{
    text-decoration: none;
}






@import './/css/bootstrap.min.css'
